USE [master]
GO
/****** Object:  Database [QuanLySinhVien]    Script Date: 25/11/2018 01:54:09 ******/
CREATE DATABASE [QuanLySinhVien]
GO
USE [QuanLySinhVien]
GO
/****** Object:  Table [dbo].[BANGDIEM]    Script Date: 25/11/2018 01:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGDIEM](
	[MAMH] [varchar](10) NOT NULL,
	[MASV] [varchar](10) NOT NULL,
	[DIEMQT] [numeric](3, 1) NULL,
	[DIEMTH] [numeric](3, 1) NULL,
	[DIEMGIUAKI] [numeric](3, 1) NULL,
	[DIEMCUOIKI] [numeric](3, 1) NULL,
	[DIEMTB] [numeric](3, 1) NULL,
 CONSTRAINT [PK_BANGDIEM_1] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 25/11/2018 01:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [varchar](10) NOT NULL,
	[TENGV] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[NGAYSINH] [smalldatetime] NULL,
	[SDT] [varchar](10) NULL,
	[EMAIL] [varchar](50) NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 25/11/2018 01:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [varchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOPMONHOC]    Script Date: 25/11/2018 01:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOPMONHOC](
	[MALOP] [varchar](10) NOT NULL,
	[MAMH] [varchar](10) NULL,
	[HOCKY] [tinyint] NULL,
	[NAMHOC] [varchar](15) NULL,
	[MAGV] [varchar](10) NULL,
 CONSTRAINT [PK_LOPMONHOC] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOPQUANLY]    Script Date: 25/11/2018 01:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOPQUANLY](
	[MALOP] [varchar](10) NOT NULL,
	[KHOAHOC] [smallint] NOT NULL,
	[MAKHOA] [varchar](10) NULL,
	[SISO] [tinyint] NULL,
	[MAGVQLY] [varchar](10) NULL,
 CONSTRAINT [PK_LOPQUANLY] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC,
	[KHOAHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 25/11/2018 01:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [varchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NULL,
	[SOTINCHI] [tinyint] NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 25/11/2018 01:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [varchar](10) NOT NULL,
	[TENSV] [nvarchar](50) NULL,
	[NGAYSINH] [smalldatetime] NULL,
	[DIACHI] [nvarchar](500) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[SODIENTHOAI] [varchar](10) NULL,
	[EMAIL] [varchar](50) NULL,
	[MALOP] [varchar](10) NULL,
	[KHOAHOC] [smallint] NULL,
	[HOCPHI] [varchar](20) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 25/11/2018 01:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](50) NOT NULL,
	[QUYENTRUYCAP] [nvarchar](20) NULL,
 CONSTRAINT [PK_DANGNHAP] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BANGDIEM] ([MAMH], [MASV], [DIEMQT], [DIEMTH], [DIEMGIUAKI], [DIEMCUOIKI], [DIEMTB]) VALUES (N'ENG02', N'17520513', CAST(8.5 AS Numeric(3, 1)), NULL, CAST(6.0 AS Numeric(3, 1)), CAST(7.0 AS Numeric(3, 1)), CAST(7.3 AS Numeric(3, 1)))
INSERT [dbo].[BANGDIEM] ([MAMH], [MASV], [DIEMQT], [DIEMTH], [DIEMGIUAKI], [DIEMCUOIKI], [DIEMTB]) VALUES (N'IT004', N'17520513', NULL, NULL, CAST(10.0 AS Numeric(3, 1)), NULL, NULL)
INSERT [dbo].[BANGDIEM] ([MAMH], [MASV], [DIEMQT], [DIEMTH], [DIEMGIUAKI], [DIEMCUOIKI], [DIEMTB]) VALUES (N'IT005', N'17520513', NULL, NULL, CAST(9.5 AS Numeric(3, 1)), NULL, NULL)
INSERT [dbo].[GIANGVIEN] ([MAGV], [TENGV], [GIOITINH], [NGAYSINH], [SDT], [EMAIL]) VALUES (N'GV01', N'Huỳnh Hồ Thị Mộng Trinh', N'Nữ', CAST(0x861D0000 AS SmallDateTime), N'0194134125', N'trinhhhtm@uit.edu.vn')
INSERT [dbo].[GIANGVIEN] ([MAGV], [TENGV], [GIOITINH], [NGAYSINH], [SDT], [EMAIL]) VALUES (N'GV02', N'Nguyễn Văn Xanh', N'Nam', CAST(0x72230000 AS SmallDateTime), N'0236486766', N'xanhnv@uit.edu.vn')
INSERT [dbo].[GIANGVIEN] ([MAGV], [TENGV], [GIOITINH], [NGAYSINH], [SDT], [EMAIL]) VALUES (N'GV03', N'Lê Thanh Trọng', N'Nam', CAST(0x80680000 AS SmallDateTime), N'0238461231', N'tronglt@uit.edu.vn')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (N'CNPM', N'Công Nghệ Phần Mềm')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (N'HTTT', N'Hệ Thống Thông Tin')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (N'KH&KTTT', N'Khoa học và Kỹ Thuật Thông Tin')
INSERT [dbo].[LOPMONHOC] ([MALOP], [MAMH], [HOCKY], [NAMHOC], [MAGV]) VALUES (N'ENG02.I210', N'ENG02', 2, N'2017-2018', N'GV06')
INSERT [dbo].[LOPMONHOC] ([MALOP], [MAMH], [HOCKY], [NAMHOC], [MAGV]) VALUES (N'IT004.J19', N'IT004', 1, N'2018-2019', N'GV02')
INSERT [dbo].[LOPMONHOC] ([MALOP], [MAMH], [HOCKY], [NAMHOC], [MAGV]) VALUES (N'IT005.J13', N'IT005', 1, N'2018-2019', N'GV07')
INSERT [dbo].[LOPQUANLY] ([MALOP], [KHOAHOC], [MAKHOA], [SISO], [MAGVQLY]) VALUES (N'CNTT', 2017, N'KH&KTTT', 70, N'GV05')
INSERT [dbo].[LOPQUANLY] ([MALOP], [KHOAHOC], [MAKHOA], [SISO], [MAGVQLY]) VALUES (N'KHMT', 2017, N'KHMT', 75, N'GV04')
INSERT [dbo].[LOPQUANLY] ([MALOP], [KHOAHOC], [MAKHOA], [SISO], [MAGVQLY]) VALUES (N'KTPM', 2017, N'CNPM', 73, N'GV01')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTINCHI]) VALUES (N'ENG02', N'Anh văn 2', 4)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTINCHI]) VALUES (N'IT004', N'Cơ Sở Dữ Liệu', 4)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTINCHI]) VALUES (N'IT005', N'Nhập Môn Mạng Máy Tính', 4)
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [NGAYSINH], [DIACHI], [GIOITINH], [SODIENTHOAI], [MALOP], [KHOAHOC], [HOCPHI]) VALUES (N'17520004', N'Nguyễn Lương Duy', CAST(0x8D400000 AS SmallDateTime), N'Quảng Nam', N'Nam', N'0123712321', N'CNTT', 2017, N'Ðã hoàn thành')
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [NGAYSINH], [DIACHI], [GIOITINH], [SODIENTHOAI], [MALOP], [KHOAHOC], [HOCPHI]) VALUES (N'17520005', N'Trương Công Tấn Phát', CAST(0x8D410000 AS SmallDateTime), N'Đồng Nai', N'Nam', N'0213127382', N'KTPM', 2017, N'Ðã hoàn thành')
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [NGAYSINH], [DIACHI], [GIOITINH], [SODIENTHOAI], [MALOP], [KHOAHOC], [HOCPHI]) VALUES (N'17520148', N'Nguyễn Duy Hoài Sơn', CAST(0x8D3F0000 AS SmallDateTime), N'Quảng Bình', N'Nữ', N'0128376172', N'KHMT', 2017, N'Ðã hoàn thành')
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [QUYENTRUYCAP]) VALUES (N'17520513', N'123456', N'Sinh Viên')
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [QUYENTRUYCAP]) VALUES (N'admin', N'admin', N'Admin')
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [QUYENTRUYCAP]) VALUES (N'GV01', N'1234567', N'Giáo Viên')
