USE [master]
GO
/****** Object:  Database [QuanLyHocSinh]    Script Date: 15/12/2018 14:12:24 ******/
CREATE DATABASE [QuanLyHocSinh]
GO
USE [QuanLyHocSinh]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 15/12/2018 14:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEM](
	[MAHS] [varchar](10) NOT NULL,
	[MAMH] [varchar](10) NOT NULL,
	[TENHOCSINH] [nvarchar](50) NULL,
	[DIEMMIENG1] [numeric](4, 2) NULL,
	[DIEMMIENG2] [numeric](4, 2) NULL,
	[DIEMMIENG3] [numeric](4, 2) NULL,
	[DIEM15P1] [numeric](4, 2) NULL,
	[DIEM15P2] [numeric](4, 2) NULL,
	[DIEM1TIET] [numeric](4, 2) NULL,
	[DIEMCUOIKY] [numeric](4, 2) NULL,
	[DIEMTONGKET] [numeric](4, 2) NULL,
	[HOCKY] [tinyint] NULL,
	[NAMHOC] [varchar](20) NULL,
 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 15/12/2018 14:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[NGAYSINH] [date] NULL,
	[SODIENTHOAI] [varchar](20) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[DANTOC] [nvarchar](20) NULL,
	[EMAIL] [varchar](50) NULL,
	[CHUCVU] [nvarchar](20) NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOATDONG]    Script Date: 15/12/2018 14:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOATDONG](
	[THOIGIAN] [datetime] NOT NULL,
	[ID] [nvarchar](50) NOT NULL,
	[MANIPULATION] [nvarchar](50) NOT NULL,
	[TABLENAME] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 15/12/2018 14:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MAHS] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[MALOP] [varchar](10) NULL,
	[KHOAHOC] [smallint] NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[HOTENCHA] [nvarchar](50) NULL,
	[HOTENME] [nvarchar](50) NULL,
	[SDTCHA] [varchar](20) NULL,
	[SDTME] [varchar](20) NULL,
	[DANTOC] [nvarchar](20) NULL,
	[EMAIL] [varchar](50) NULL,
	[DIENTHOAI] [varchar](20) NULL,
	[ANHTHE] [image] NULL,
 CONSTRAINT [PK_HOCSINH] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 15/12/2018 14:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](10) NOT NULL,
	[TENLOP] [nvarchar](20) NULL,
	[MAGVCN] [varchar](10) NULL,
	[SISO] [tinyint] NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 15/12/2018 14:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [varchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 15/12/2018 14:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[MALOP] [varchar](10) NOT NULL,
	[MAMH] [varchar](10) NOT NULL,
	[MAGV] [varchar](10) NULL,
 CONSTRAINT [PK_PHANCONG_1] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 15/12/2018 14:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](50) NOT NULL,
	[QUYENTRUYCAP] [nvarchar](50) NULL,
 CONSTRAINT [PK_TAI KHOAN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DIEM] ([MAHS], [MAMH], [TENHOCSINH], [DIEMMIENG1], [DIEMMIENG2], [DIEMMIENG3], [DIEM15P1], [DIEM15P2], [DIEM1TIET], [DIEMCUOIKY], [DIEMTONGKET], [HOCKY], [NAMHOC]) VALUES (N'16009503', N'H', N'Nguyễn Thị Minh Anh', CAST(8.00 AS Numeric(4, 2)), CAST(8.00 AS Numeric(4, 2)), CAST(8.00 AS Numeric(4, 2)), CAST(8.00 AS Numeric(4, 2)), CAST(8.00 AS Numeric(4, 2)), CAST(8.00 AS Numeric(4, 2)), CAST(8.00 AS Numeric(4, 2)), CAST(8.00 AS Numeric(4, 2)), 1, N'2018-2019')
INSERT [dbo].[DIEM] ([MAHS], [MAMH], [TENHOCSINH], [DIEMMIENG1], [DIEMMIENG2], [DIEMMIENG3], [DIEM15P1], [DIEM15P2], [DIEM1TIET], [DIEMCUOIKY], [DIEMTONGKET], [HOCKY], [NAMHOC]) VALUES (N'16009503', N'T', N'Nguyễn Thị Minh Anh', CAST(10.00 AS Numeric(4, 2)), CAST(10.00 AS Numeric(4, 2)), CAST(10.00 AS Numeric(4, 2)), CAST(10.00 AS Numeric(4, 2)), CAST(10.00 AS Numeric(4, 2)), CAST(10.00 AS Numeric(4, 2)), CAST(10.00 AS Numeric(4, 2)), CAST(10.00 AS Numeric(4, 2)), 1, N'2018-2019')
INSERT [dbo].[DIEM] ([MAHS], [MAMH], [TENHOCSINH], [DIEMMIENG1], [DIEMMIENG2], [DIEMMIENG3], [DIEM15P1], [DIEM15P2], [DIEM1TIET], [DIEMCUOIKY], [DIEMTONGKET], [HOCKY], [NAMHOC]) VALUES (N'16009503', N'VL', N'Nguyễn Thị Minh Anh', CAST(9.00 AS Numeric(4, 2)), CAST(9.00 AS Numeric(4, 2)), CAST(9.00 AS Numeric(4, 2)), CAST(9.00 AS Numeric(4, 2)), CAST(9.00 AS Numeric(4, 2)), CAST(9.00 AS Numeric(4, 2)), CAST(9.00 AS Numeric(4, 2)), CAST(9.00 AS Numeric(4, 2)), 2, N'2017-2018')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [GIOITINH], [NGAYSINH], [SODIENTHOAI], [DIACHI], [DANTOC], [EMAIL], [CHUCVU]) VALUES (N'GV01', N'Nguyễn Thị Vân Anh', N'Nữ', CAST(0xFE000B00 AS Date), N'0913849761', N'Quảng Nam', N'Kinh', N'anhntv@gmail.com', N'Hiệu Trưởng')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [GIOITINH], [NGAYSINH], [SODIENTHOAI], [DIACHI], [DANTOC], [EMAIL], [CHUCVU]) VALUES (N'GV02', N'Nguyễn Thị Thanh Trà', N'Nữ', CAST(0x66000B00 AS Date), N'0913849762', NULL, N'Kinh', NULL, N'Phó Hiệu Trưởng')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [GIOITINH], [NGAYSINH], [SODIENTHOAI], [DIACHI], [DANTOC], [EMAIL], [CHUCVU]) VALUES (N'GV03', N'Đinh Thị Hạ', N'Nữ', CAST(0xF8060B00 AS Date), N'0913849763', NULL, N'Kinh', NULL, N'Giáo viên')
INSERT [dbo].[HOATDONG] ([THOIGIAN], [ID], [MANIPULATION], [TABLENAME]) VALUES (CAST(0x0000A9B7000174A1 AS DateTime), N'admin', N'Sua', N'TAIKHOAN')
INSERT [dbo].[HOATDONG] ([THOIGIAN], [ID], [MANIPULATION], [TABLENAME]) VALUES (CAST(0x0000A9B7000174A3 AS DateTime), N'admin', N'ChinhSua', N'TAIKHOAN')
INSERT [dbo].[HOATDONG] ([THOIGIAN], [ID], [MANIPULATION], [TABLENAME]) VALUES (CAST(0x0000A9B7000B5E9C AS DateTime), N'', N'Tìm Kiếm', N'LOP')
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [MALOP], [KHOAHOC], [NGAYSINH], [GIOITINH], [DIACHI], [HOTENCHA], [HOTENME], [SDTCHA], [SDTME], [DANTOC], [EMAIL], [DIENTHOAI], [ANHTHE]) VALUES (N'16009503', N'Nguyễn Thị Minh Anh', N'12A1', 16, CAST(0xB2260B00 AS Date), N'Nữ', NULL, NULL, NULL, NULL, NULL, N'Kinh', NULL, NULL, NULL)
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [MALOP], [KHOAHOC], [NGAYSINH], [GIOITINH], [DIACHI], [HOTENCHA], [HOTENME], [SDTCHA], [SDTME], [DANTOC], [EMAIL], [DIENTHOAI], [ANHTHE]) VALUES (N'16009506', N'Thân Vĩnh Anh', N'12A1', 16, CAST(0x8C260B00 AS Date), N'Nam', N'Quảng Nam', NULL, NULL, N'         ', N'         ', N'Kinh', NULL, N'         ', NULL)
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAGVCN], [SISO]) VALUES (N'10A1', N'10A1', N'GV01', 41)
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAGVCN], [SISO]) VALUES (N'10A2', N'10A2', N'GV02', 43)
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAGVCN], [SISO]) VALUES (N'10A3', N'10A3', N'GV03', 41)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'CN', N'Công nghệ')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'DL', N'Địa lý')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'GDCD', N'Giáo dục công dân')
INSERT [dbo].[PHANCONG] ([MALOP], [MAMH], [MAGV]) VALUES (N'10A1', N'CN', N'GV05')
INSERT [dbo].[PHANCONG] ([MALOP], [MAMH], [MAGV]) VALUES (N'10A1', N'DL', N'GV22')
INSERT [dbo].[PHANCONG] ([MALOP], [MAMH], [MAGV]) VALUES (N'10A1', N'GDCD', N'GV07')
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [QUYENTRUYCAP]) VALUES (N'admin', N'8R0QEzKCVRI=', N'Admin')
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [QUYENTRUYCAP]) VALUES (N'GV01', N'fIicyVMB4r0=', N'Giáo viên')
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [QUYENTRUYCAP]) VALUES (N'GV15', N'fIicyVMB4r0=', N'Giáo viên')
USE [master]
GO
